
@font-face {
    
    font-family: aefont;
    
    src: local("Courier"),
    url(./Courier.ttf);
}

body {
    
    font-family: aefont, monospace;
    font-size: 16px;
}

li {
    list-style-type: none;
}



.dict-element > span > .open-entry::before {
    display: none;
}

.open-entry {
    cursor: pointer;
    position: relative;
    
    color: #268BD2;
}

.open-entry:hover {
    text-decoration: underline;
}

.open-entry::before {
    color: green;
    content: '+';
    position: absolute;
    left: -15px;
}
.dict-key {
    color: #B58900;
}

.open::before {
    color: red;
    content: '-';
}
.hide {
    display: none;
}
.highlight {
    
    background: linear-gradient(-45deg, #f5e944, #F5EE93);
    background-size: 400% 400%;
    animation: Gradient 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2;
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
.node {
    
    display: inline;
    margin-left: 10px;
}

.string {
    color: #2AA198;
    cursor: text;
}
.number {
    color: rgb(42, 161, 152);
    cursor: text;
}
.bool {
    color: rgb(42, 161, 152);
    cursor: text;
}
.general {
    color: rgb(147, 161, 161);
    font-size: 15px;
    font-style: italic;
}
.p {
    color: rgb(147, 161, 161);
    font-size: 15px;
}

#header {
    width: 95vw;
    border-bottom: 1px rgb(165, 165, 165) solid;
    background: #efefef;
    display: flex;
}
#header > * {
    border-right: 1px rgb(165, 165, 165) solid;
}
#title {
    display: inline-block;
    
    font-weight: bold;
    font-size: 1.4rem;
    width: 14rem;
    text-align: center;
}
#title > span {
    position: relative;
    top: 5px;
}
#langlist {
    display: inline-block;
    font-size: 1.25rem;
}
#langlist > .active-lang {
    cursor: default;
    background-color: #efefef;
}
#langlist > .active-lang:hover {
    background: #c9caca;
}



#langlist:hover > .langs {
    display: block;
}
#langlist > .langs {
    
    display: none;
    position: fixed;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 500;
    cursor: default;
}
.lang {
    width: 10rem;
    height: 2.4rem;
    border-bottom: 1px solid #c9caca;
    background-color: #efefef;
    cursor: pointer;
}
.lang > span {
    position: relative;
    left: 20px;
    top: 5px;
}
.lang:hover {
    background: #c9caca;
}


#container {
    display: flex;
    flex: 1;
    border-bottom: #c9caca 3px solid;
    border-left: #ddd 1px solid;
    height: 90vh;
    width: 95vw;
}

#editor {
    width: 45%;
    height: 100%;
}

#editor > .CodeMirror {
    width: 100%;
    height: 100%;
}

#split {
    width: 0.3rem;
    background: #cfcfcf;
}

#output {
    width: 55%;
    height: 100%;
}

#toolbar {
    font-size: 14px;
    margin-left: -1px;
    border-bottom: 1px solid #ddd;
    background-color: #efefef;
    display: flex;
    height: 2rem;
}
#toolbar > button {
    font: inherit;
    border-color: #f5f5f5;
    background-color: #ddd;
    color: #444;
    cursor: pointer;
    width: 6rem;
}
#toolbar > button.active {
    background-color: #999;
    color: #f5f5f5;
}

#display {
    width: 100%;
    height: calc(100% - 2rem);
}
#json {
    width: 100%;
    height: 100%;
}
#json > .CodeMirror {
    width: 100%;
    height: 100%;
    background-color: #efefef;
    font-size: 0.8rem;
}
#tree {
    width: calc(100% - 30px);
    height: calc(100% - 10px);
    overflow: scroll;
    padding-left: 30px;
    padding-top: 10px;
    background: #efefef;
    user-select: none;
}
#tokens {
    width: calc(100% - 30px);
    height: calc(100% - 10px);
    overflow: scroll;
    padding-left: 30px;
    padding-top: 10px;
    background: #efefef;
    user-select: none;
}

.mark {
    background-color: #ff7;
}
h1 {
    font-size: 40px;
}
